@loading-image-width: 16px;
@loading-image-margin: 4px;

.sonar-profile.loading label:before,
.sonar-profile.loading label:before,
.top-label .sonar-profile.loading label:after,
.top-label .sonar-profile.loading label:after {
    content: url(../../../images/icons/wait.gif);
    margin-left: -(@loading-image-width + @loading-image-margin);
    position: absolute;
    top: 2px;
}

.top-label {
    .sonar-profile,
    .sonar-profile {
        &.loading label {
            &:after {
                margin-left: @loading-image-margin;
            }
            &:before {
                content: normal;
            }
        }
    }
}
